body {
    font-family: futura, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    height: 50px;
    margin: auto;
}

.header-content {
    display: flex;
    max-width: 1000px;
    height: 46px;
    margin: auto;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    font-size: 24px;
    align-items: center;
    flex-shrink: 0;
}

.header-link {
    color: #E5E7EB;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    align-items: center;
    flex-shrink: 0;
}

.container.first {
    background-color: #1F2937;
    color: white;
    height: 500px;
}

.pitch-area {
    display: flex;
    margin: auto;
    max-width: 1000px;
    gap: 25px;
    justify-content: space-between;
}

.title-block {
    width: 300px;
    height: 300px;
    margin-top: 35px;;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    width: 300;
    color: #F9FAF8;
}

.summary {
    font-size: 18px;
    color: #E5E7EB;
    width: 300;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}


.splash-photo {
    align-items: center;
    border-radius: px;
}

.container.second {
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.info-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.info-box {
    display: flex;
    justify-content: space-between;
}

.info {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.square-img {
    justify-content: center;
    border-radius: 10px;
}

.text {
    width: 200px;
    text-align: center;
}

.container.third {
    background-color: #E5E7EB;
    color: black;
    height: 425px;
    margin: auto;
    display: flex;
}

.quote-container {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.quote-box {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    color: #1F2937;
}

.container.fourth {
    background-color: white;
    color: white;
    height: 350px;
}

.call-box-container {
    margin: auto;
    max-width: 1000px;
    vertical-align: center;
    padding-top: 125px;

}

.call-box {
    background-color: #3882F6;
    height: 100px;
}

.call-text {
    padding-left: 50px;
    padding-top: 25px;
}

.call-action {
    display: flex;
    font-size: 25px;
    font-weight: 900;
}

button.bottom {
    border-color: white;
    border-style: outset;
    float: right;
    padding-right:
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top, .bottom {
    font-size: 18px;;
}